In [1]:
import camelot
import glob

In [2]:
def clean_sales_data(sales_data):
    cleaned_sales_data = sales_data.copy()
    
    # remove newlines and any accompanying spaces
    cleaned_sales_data.replace('\s?\\n\s?', ' ', regex=True, inplace=True)
    
    # replace "Directly-run Stores", "Directly run Stores", and "Own Stores" from the
    # 2015, 2017 and other files with "Directly-Run Stores"
    cleaned_sales_data.replace(
        '((?i)([a-z\s]+)(?<!Same\s))Stores', 
        'Directly-Run Stores', 
        regex=True, 
        inplace=True
    )
    
    return cleaned_sales_data

In [ ]:
# 2017 file needs more processing (excluding ... including online sales etc)

In [3]:
raw_sales_data_files = glob.glob('./data/raw/sales_data/*')
raw_sales_data_files[1]

'./data/raw/sales_data/MonthlySales_2023_en.pdf'

In [4]:
sales_data_2023 = camelot.read_pdf(raw_sales_data_files[1], split_text=True)

In [5]:
sales_data_2023

In [ ]:
z.drop(0)[0]

In [7]:
z = clean_sales_data(sales_data_2023[0].df)
z.drop(0)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
1,,,Sep '22,Oct '22,Nov '22,Dec '22,Jan '23,Feb '23,Six months to Feb '23,Mar '23,Apr '23,May '23,Jun '23,Jul '23,Aug '23,Six months to Aug '23,Year to Aug '23
2,Same Stores + Online Sales (Same Stores 703),Net Sales,111.0,112.8,96.2,116.9,110.9,121.3,110.0,111.9,101.7,104.4,96.6,,,103.3,107.6
3,,Customer Numbers,97.1,101.4,90.3,101.8,98.5,103.9,98.4,100.8,94.6,96.3,85.5,,,93.9,96.7
4,,Average Purchase,114.4,111.3,106.5,114.8,112.6,116.8,111.8,111.0,107.5,108.4,112.9,,,110.0,111.3
5,Directly-Run Stores + Online Sales (Directly-R...,Net Sales,114.1,117.0,99.2,120.7,114.9,125.5,113.7,115.4,105.9,109.0,100.1,,,107.3,111.3
6,,Customer Numbers,99.6,105.0,93.3,105.3,102.2,107.7,101.7,104.0,98.5,100.7,88.6,,,97.5,100.1
7,,Average Purchase,114.5,111.4,106.4,114.7,112.4,116.6,111.8,110.9,107.5,108.3,113.0,,,110.0,111.2

In [ ]:
sales_data_2023[0].df.replace(r'\n', ' ', regex=True)