In [1]:
import pandas as pd
import util

In [2]:
util.clean_and_save_sales_data()
util.unpivot_combine_and_save_sales_data()

In [3]:
combined_sales_data = pd.read_csv('./data/preprocessed/combined_sales_data.csv')

In [4]:
combined_sales_data

,Store Type,Metric,Includes Online Sales,Period,Percentage Change,Term,Period Type
0,Same Stores,Net Sales,1,Sep '16,-3.4,September 2016 to August 2017,Monthly
1,Same Stores,Customer Numbers,1,Sep '16,2.1,September 2016 to August 2017,Monthly
2,Same Stores,Average Purchase per Customer,1,Sep '16,-5.4,September 2016 to August 2017,Monthly
3,Directly-Run Stores,Net Sales,0,Sep '16,-3.9,September 2016 to August 2017,Monthly
4,Directly-Run Stores,Customer Numbers,0,Sep '16,2.8,September 2016 to August 2017,Monthly
...,...,...,...,...,...,...,...
715,Same Stores,Customer Numbers,1,Year to Aug '23,-3.3,September 2022 to August 2023,Annual
716,Same Stores,Average Purchase per Customer,1,Year to Aug '23,11.3,September 2022 to August 2023,Annual
717,Directly-Run Stores,Net Sales,1,Year to Aug '23,11.3,September 2022 to August 2023,Annual
718,Directly-Run Stores,Customer Numbers,1,Year to Aug '23,0.1,September 2022 to August 2023,Annual
719,Directly-Run Stores,Average Purchase per Customer,1,Year to Aug '23,11.2,September 2022 to August 2023,Annual